/* Global */
* {
    box-sizing: border-box;
}

/* Vars */
:root {
    --bg-grey: #505252;
    --bg-black: #323232;
    --font-white: #ffffff;
    --font-yellow: #f7e018;
    --font-blue: #358ef1;
    --font-turquoise: #61dafb;
    --font-orange: #fa743e;
    --font-green: #4bb6b6;
    --font-red: #f06d6d;
    --header-height: 68px;
    --footer-height: 68px;

    /* Text Utils */
}
.color-yellow {
    color: var(--font-yellow);
}

.color-white {
    color: var(--font-white);
}

.color-blue {
    color: var(--font-blue);
}

.color-turquoise {
    color: var(--font-turquoise);
}

.color-orange {
    color: var(--font-orange);
}

.color-green {
    color: var(--font-green);
}

.color-red {
    color: var(--font-red);
}

.weight-light {
    font-weight: 300;
}

.weight-medium {
    font-weight: 400;
}

.weight-regular {
    font-weight: 500;
}

.weight-bold {
    font-weight: 600;
}

.big {
    font-weight: 600;
    font-size: 32px;
    margin-top: 48px;
    line-height: 52px;
}

/* Tags */
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--font-white);
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    font-family: Quicksand;
}

h2 {
    font-size: 32px;
    font-family: Poppins;
}

p {
    font-weight: 300;
    font-size: 18px;
}

/* Layout Classes */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    background: linear-gradient(0deg, #211e46, var(--bg-black), var(--bg-black), var(--bg-black), #172524, #172524);
    background-size: 250% 250%;
    background-position: 0% 0%;
    /* animation: 30s slide linear infinite; */
}

.text {
    max-width: 1600px;
}

.menu {
    margin-top: 15%;
    width: 284px;
    padding: 0;
}

.top {
  width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    width: min(100%, 2100px);
}

.bottom-content {
    display: flex;
    justify-content: flex-start;
    width: min(100%, 2100px);
}

.section {
    width: calc(100% - 300px);
    padding: 24px 128px 24px 68px;
}

.bottom-section {
    display: flex;
    position: relative;
    width: 100%;
    align-self: flex-end;
    align-items: flex-end;
}

.header {
    width: 100%;
    min-height: var(--header-height);
    padding: 18px 64px;
}

.footer {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: var(--footer-height);
    font-weight: 300;
    font-size: 14px;
    padding: 18px 64px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    margin-left: 5%;
    margin-top: 24px;
    justify-items: center;
    justify-content: center;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
}

.grid-background {
    display: flex;
    width: 100%;
    background-image: url('/bg_grid_green.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    .grid {
        margin-left: 0;
        margin-right: 0;
        margin-top: 24px;
        margin-bottom: 24px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 125px);
        grid-gap: 12px 12px;
    }

    .bottom-content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        overflow: hidden;
    }

    .content {
        flex-wrap: wrap;
    }

    .section {
        width: 100%;
        padding: 24px;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 64px;
    }

    .header, .footer {
      padding: 24px;
    }
}

@media screen and (min-width: 2100px) {
    .grid {
        justify-content: start;
        grid-template-columns: repeat(7, 120px);
    }

    .content, .bottom-content {
        margin: auto;
    }
}
