/* Global ====================================================================== */
* {
    box-sizing: border-box;
}

/* Vars ======================================================================== */
:root {
    --bg-grey: #505252;
    --bg-black: #1b1f24;
    --bg-black-darker: #161b22;
    --bg-black-lighter: #24292f;
    --line-grey-darker: #30363d;
    --line-blue: rgba(53, 142, 241, 0.36);
    --font-white: #ffffff;
    --font-grey: #8b949e;
    --font-yellow: #f7e018;
    --font-blue: rgb(53, 142, 241);
    --font-turquoise: #61dafb;
    --font-orange: #fa743e;
    --font-green: #4bb6b6;
    --font-red: #f06d6d;
    --menu-font-size: 22px;
    --menu-font-size-active: 30px;
    --header-height: 68px;
    --footer-height: 68px;
    --bp-large: 1800px;
}

/* Utils ================================================================== */
.color-yellow {
    color: var(--font-yellow);
}

.color-white {
    color: var(--font-white);
}

.color-blue {
    color: var(--font-blue);
}

.color-turquoise {
    color: var(--font-turquoise);
}

.color-orange {
    color: var(--font-orange);
}

.color-green {
    color: var(--font-green);
}

.color-red {
    color: var(--font-red);
}

.color-grey {
    color: var(--font-grey);
}

.line-yellow {
    border-color: var(--font-yellow) !important;
}

.line-white {
    border-color: var(--font-white) !important;
}

.line-blue {
    border-color: var(--font-blue) !important;
}

.line-turquoise {
    border-color: var(--font-turquoise) !important;
}

.line-orange {
    border-color: var(--font-orange) !important;
}

.line-green {
    border-color: var(--font-green) !important;
}

.line-red {
    border-color: var(--font-red) !important;
}

.line-grey {
    border-color: var(--line-grey-darker) !important;
}

.weight-light {
    font-weight: 300;
}

.weight-medium {
    font-weight: 400;
}

.weight-regular {
    font-weight: 500;
}

.weight-bold {
    font-weight: 600;
}

.big {
    font-weight: 600;
    font-size: 28px;
    margin-top: 32px;
    line-height: 32px;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.gap-1-rem {
    gap: 1rem;
}

.flex-space-around {
    justify-content: space-around;
}

.border-right {
    border-right: 1px solid var(--line-grey-darker);
}

.border-bottom {
    border-bottom: 1px solid var(--line-grey-darker);
}

.margin-left {
    margin-left: 1.5rem;
}

.margin-center {
    margin: auto;
    text-align: center;
}

/* Tags ======================================================================== */
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--font-white);
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    font-family: Quicksand;
}

h2 {
    font-size: 28px;
    font-weight: 300;
    font-family: Quicksand;
}

h3 {
    font-size: 24px;
    font-weight: 300;
    font-family: Quicksand;
}

p {
    font-weight: 300;
    font-size: 18px;
}

/* Layout Classes ============================================================== */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: min(100%, 100vw);
    align-items: center;
    background-image: linear-gradient(45deg, var(--bg-black) 30%, #20202b, var(--bg-black) 70%);
    background-size: 200%;
    background-position: 0% 0%;
    animation: 20s slide alternate infinite;
}

.text {
    max-width: 1600px;
}

.menu {
    margin-top: 15%;
    width: 284px;
    padding: 0;
}

.top {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    width: min(100%, var(--bp-large));
}

.filler {
    flex-grow: 1;
    flex-shrink: 0;
}

.bottom-content {
    display: flex;
    justify-content: flex-start;
    width: min(100%, var(--bp-large));
    padding-top: 48px;
}

.section {
    width: calc(100% - 400px);
    padding: 24px 164px 24px 68px;
}

.bottom-section {
    display: flex;
    position: relative;
    width: 100%;
    align-self: flex-end;
    align-items: flex-end;
    margin-top: 24px;
}

.header {
    width: 100%;
    min-height: var(--header-height);
    padding: 18px 64px;
}

.footer {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: var(--footer-height);
    font-weight: 300;
    font-size: 14px;
    padding: 18px 64px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    margin-left: 5%;
    margin-top: 24px;
    margin-bottom: 24px;
    justify-items: center;
    justify-content: center;
    min-height: 240px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
}

.grid-background {
    display: flex;
    width: 100%;
    background-image: url('/bg_grid_green.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.pending {
    animation: flicker infinite alternate ease-in 500ms;
}

.logo {
    display: flex;
    align-items: center;
}

.title-logo {
    font-weight: 100;
    font-size: 28px;
    margin-left: 12px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.menu-filler {
    height: 0;
    width: 0;
}

.social .button {
    margin-right: 24px;
}

.cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 12px;
    border-radius: 12px;
    border-color: var(--font-blue);
    border-width: 4px;
    border-style: solid;
    background: linear-gradient(45deg, #211e46, var(--font-blue));
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    color: var(--font-white);
    transition-duration: 0.8s;
}

.cta:hover {
    border-color: var(--font-yellow);
    color: var(--font-yellow);
    cursor: pointer;
}

.icon-button {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    color: var(--font-white);
    transition-duration: 0.8s;
    font-size: 72px;
    line-height: 72px;
    background: transparent;
    color: var(--font-turquoise);
}

.icon-button:hover {
    border-color: var(--font-yellow);
    color: var(--font-yellow);
    cursor: pointer;
}

.icon-button svg {
    padding: 0;
    margin: 0;
}

.line {
    border-bottom: 4px solid;
}

.button {
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: Quicksand;
    font-weight: 300;
    text-align: left;
    font-size: var(--menu-font-size);
    color: var(--font-white);
    transition-duration: 0.4s;
}

.item:hover button {
    font-size: var(--menu-font-size-active);
    cursor: pointer;
}

.item {
    margin: 12px 0;
    width: 238px;
    font-size: var(--menu-font-size);
    color: var(--font-white);
    transition-duration: 0.4s;
}

.item:hover {
    width: 284px;
    font-size: var(--menu-font-size-active);
    cursor: pointer;
}

.active {
    width: 284px;
    margin: 18px 0;
    pointer-events: none;
}

.button-active {
    font-size: var(--menu-font-size-active);
}

.card {
    display: flex;
    align-items: stretch;
    width: min(100%, 1000px);
    border-radius: 6px;
    border: 1px solid var(--line-blue);
    padding: 0.35rem;
    background-color: var(--bg-black-lighter);
    box-shadow: 0 0 0 1px #000, 0 0 0 4px var(--bg-black-lighter);
}

.card-header, .card-content {
    padding: 0.75rem;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.v-line {
    margin-left: 15%;
    padding-left: 5%;
    border-left: 1px solid var(--line-blue);
    height: 6rem;
}

/* Sandpile css ================================================================ */
.default {
    display: grid;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 50px;
    height: 50px;
    border: none;
}

.infos {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
    font-weight: 700;
}

/* Responsive ================================================================== */
@media screen and (max-width: 1200px) {
    h1 {
        text-align: center;
    }

    .grid {
        margin-left: 0;
        margin-right: 0;
        margin-top: 24px;
        margin-bottom: 24px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 125px);
        grid-gap: 12px 12px;
    }

    .bottom-content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        overflow: hidden;
        padding-bottom: 4rem;
    }

    .content {
        flex-wrap: wrap;
    }

    .section {
        width: 100%;
        padding: 24px;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 64px;
    }

    .header,
    .footer {
        padding: 24px;
    }

    .menu-container {
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 300px;
    }

    .card {
        flex-direction: column;
    }

    .card-header {
        border-right: none;
        border-bottom: 1px solid var(--line-grey-darker);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .margin-left {
        margin-left: 0;
    }
}

@media screen and (max-width: 650px) {
    .grid-cell {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .section {
        width: max(calc(100% - 400px), 800px);
        padding-top: 24px;
        padding-right: 24px;
        padding-left: 64px;
        padding-top: 24px;
    }

    .grid {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 125px);
        grid-gap: 12px 12px;
    }
} 

@media screen and (min-width: 1800px) {
    .grid {
        justify-content: start;
        grid-template-columns: repeat(11, 120px);
    }

    .content,
    .bottom-content {
        margin: auto;
    }

    .menu-container {
        border-right: 4px solid var(--font-orange);
    }

    .menu-filler {
        height: 48px;
        width: 100%;
    }
}

/* Animation =================================================================== */
@keyframes flicker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}
